@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Ropa Sans";
    color: #777777
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    height: 55px
}

.header div{
    display: flex;
    flex-direction: row;
}

.header p {
    margin-left: 10px;
}

.header div h1 {
    text-transform: uppercase;
}

.header button {
    background-color: transparent;
    border: none;
    font-size: 28px;
    cursor: pointer;
    color: #777777
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 35px auto;
    width: 608px;
    height: 259px;
    background-image: url(./img/Rectangle3.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 243px;
    background: #333333;
}
.footer div map {
  width: 252px;
  height: 163px;
  border-radius: 19px;
}

